<div class="wrap">
  <form class="location-form">
    <section class="form-group">
      <h2>Location</h2>
      <ul class="form-fields">
        <li>
          <label for="locationName">Location name:</label>
          <input type="text" name="locationName" id="locationName" placeholder="location name" class="text-input">
        </li>
        <li>
          <label for="street-address">Street address:</label>
          <input type="text" name="street-address" id="street-address" placeholder="street address" class="text-input">
        </li>
        <li>
          <label for="city">City:</label>
          <input type="text" name="city" id="city" placeholder="city" class="text-input">
        </li>
        <li>
          <label for="state">State:</label>
          <select class="select-menu" id="state" name="state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </li>
        <li>
          <label for="street-address">Zip code:</label>
          <input type="text" name="zip-code" id="zip-code" placeholder="zip code" class="text-input">
        </li>
        <li>
          <label for="location-type">Location Type:</label>
          <select class="select-menu" id="locationType" name="locationType">
            <option value="License">License</option>
            <option value="Contract">Contract</option>
            <option value="Training">Training</option>
            <option value="Franchise">Franchise</option>
            <option value="Pilot">Pilot</option>
            <option value="Other">Other</option>
          </select>
        </li>
        <li>
          <label for="status">Status:</label>
          <select class="select-menu" id="status" name="status">
            <option value="active">Active</option>
            <option value="hold">On Hold</option>
            <option value="archive">Archive</option>
          </select>
        </li>
      </ul>
      <button type="cancel" class="btn-cancel">Cancel
      </button>
      <button type="submit" class="btn-submit">Submit</button>
    </section>

  </form>
</div>